<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="APP_NAME" value="cute-db-runner" />
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[${APP_NAME}] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="SERVER" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[${APP_NAME}] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="io.github.cutedb.runner" level="debug" />

    <logger name="io.github.mbarre.schemacrawler" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="schemacrawler" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>