<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property scope="context" name="cuteDbServer.ctx" value="${cuteDbServer}"/>

    <property name="APP_NAME" value="cute-db-runner" />
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[${APP_NAME}] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="REMOTE" class="io.github.cutedb.runner.logger.CuteDbServerAppender">
        <server>${cuteDbServer}</server>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[${APP_NAME}] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <root >
        <appender-ref ref="STDOUT" />
        <appender-ref ref="REMOTE" />
    </root>

</configuration>